<!DOCTYPE html>
<html lang="en">
    <head>
        <title>登陆</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
         <script>
            function login2(params) {
                var username = $("#username").val();
                var password = $("#password").val();
                var data = {username:username,password:password};
                $.ajax({
                    type: "POST",
                    url: "/login",
                    data: data,
                    dataType: "text",
                    success: function (data,status) {
                        if(data == 'OK'){
                            location.href = '/';
                        }else{
                            $("#loginErrMsg").show().html(data);
                        }
                    },
                    error: function(response){
 
                    }
                });
            }
        </script>
        <div class="container" style="margin-top:10%">
            <form class="col-sm-offset-4 col-sm-4 form-horizontal" role="form" method="post" onsubmit="return false">
                <fieldset>
                    <legend></legend>
                    <div class="panel panel-default">
                        <!--面板抬头-->
                        <div class="panel-heading">
                            <p class="tc">My Blog</p>
                        </div>
                        <!--面板内容-->
                        <div class="panel-body m15">
                            <!--用户名-->
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-user"></span>
                                    </span>
                                    <input type="text" class="form-control" id="username" name="username" placeholder="请输入用户名" required>
                                </div>
                            </div>
                            <!--密码框-->
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-lock"></span>
                                    </span>
                                    <input type="text" class="form-control" id="password" name="password" placeholder="请输入密码" required>
                                </div>
                            </div>
                            <!--登陆-->
                            <div class="form-group">
                                <button type="submit" class="btn btn-success btn-block" id="login" onclick="login2();">登录</button>
                            </div>
                            <!--注册-->
                            <div class="form-group">
                                <button type="submit" class="btn btn-warning btn-block" id="register">注册</button>
                            </div>
                        </div>
                        <!--面板footer-->
                        <div class="panel-footer" id="loginErrMsg" hidden="true">
                             <p class="tc">footer</p>
                        </div>
                    </div>
                 </fieldset>
            </form> 
        </div>
    </body>
</html>